.app-header{
  position: fixed;
  z-index: 2;
  margin-top: 150px;
  padding: 0 50px;
  background: linear-gradient(230deg, rgba(5,17,34,1) 0%, rgba(6,46,31,1) 100%);
  color: white;
  border-radius: 0 10px 10px 0;
}