.map-wrapper {
    margin: 20px;
}
.btn-load-paradas{
    position: absolute;
    z-index: 99;
    bottom: 70px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-load-paradas:hover {
    background-color: #0056b3;
  }
  